USE [master]
GO
/****** Object:  Database [TestDb]    Script Date: 24.04.2023 20:23:41 ******/
CREATE DATABASE [TestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDb]
GO
/****** Object:  Table [dbo].[Accommodation]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accommodation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Width] [int] NOT NULL,
	[Lenght] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Accommodation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomItems]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CustomItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fittings]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fittings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccommodationID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Accommodation] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Lenght] [int] NOT NULL,
	[Turn] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Fittings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HardwareWarehouse]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardwareWarehouse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Сonsignment] [int] NOT NULL,
	[AccommodationID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_HardwareWarehouse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[RunTime] [nvarchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Width] [nvarchar](50) NOT NULL,
	[Lenght] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Comment] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductFabric]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFabric](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TextileID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_ProductFabric] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWarehouse]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWarehouse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Roll] [nvarchar](50) NOT NULL,
	[TextileID] [int] NOT NULL,
	[Lenght] [int] NOT NULL,
 CONSTRAINT [PK_ProductWarehouse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Textile]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Textile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Art] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Compound] [nvarchar](50) NOT NULL,
	[Width] [int] NOT NULL,
	[Lenght] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Textile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.04.2023 20:23:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomItems]  WITH CHECK ADD  CONSTRAINT [FK_CustomItems_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[CustomItems] CHECK CONSTRAINT [FK_CustomItems_Order]
GO
ALTER TABLE [dbo].[CustomItems]  WITH CHECK ADD  CONSTRAINT [FK_CustomItems_Product1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[CustomItems] CHECK CONSTRAINT [FK_CustomItems_Product1]
GO
ALTER TABLE [dbo].[Fittings]  WITH CHECK ADD  CONSTRAINT [FK_Fittings_Accommodation] FOREIGN KEY([AccommodationID])
REFERENCES [dbo].[Accommodation] ([ID])
GO
ALTER TABLE [dbo].[Fittings] CHECK CONSTRAINT [FK_Fittings_Accommodation]
GO
ALTER TABLE [dbo].[Fittings]  WITH CHECK ADD  CONSTRAINT [FK_Fittings_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Fittings] CHECK CONSTRAINT [FK_Fittings_Product]
GO
ALTER TABLE [dbo].[HardwareWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_HardwareWarehouse_Accommodation] FOREIGN KEY([AccommodationID])
REFERENCES [dbo].[Accommodation] ([ID])
GO
ALTER TABLE [dbo].[HardwareWarehouse] CHECK CONSTRAINT [FK_HardwareWarehouse_Accommodation]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[ProductFabric]  WITH CHECK ADD  CONSTRAINT [FK_ProductFabric_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductFabric] CHECK CONSTRAINT [FK_ProductFabric_Product]
GO
ALTER TABLE [dbo].[ProductFabric]  WITH CHECK ADD  CONSTRAINT [FK_ProductFabric_Textile] FOREIGN KEY([TextileID])
REFERENCES [dbo].[Textile] ([ID])
GO
ALTER TABLE [dbo].[ProductFabric] CHECK CONSTRAINT [FK_ProductFabric_Textile]
GO
ALTER TABLE [dbo].[ProductWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_ProductWarehouse_Textile] FOREIGN KEY([TextileID])
REFERENCES [dbo].[Textile] ([ID])
GO
ALTER TABLE [dbo].[ProductWarehouse] CHECK CONSTRAINT [FK_ProductWarehouse_Textile]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  Statistic [_WA_Sys_00000002_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_71D1E811] ON [dbo].[Accommodation]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000FD03AE40000000001F02000000000000DF01000000000000E7030000E7000000640000000000000015D000000000000007000000EAC1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005B0000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001B0045043704FF0100000000000000010000000100000028000000280000000000000000000000020000004504370402000000400000000001020000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000003_71D1E811] ON [dbo].[Accommodation]([Type]) WITH STATS_STREAM = 0x010000000100000000000000000000002982DB82000000001F02000000000000DF01000000000000E7030000E7000000640000000000000015D000000000000007000000EBC1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005B0000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001B003A043304FF0100000000000000010000000100000028000000280000000000000000000000020000003A04330402000000400000000001020000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000004_71D1E811] ON [dbo].[Accommodation]([Width]) WITH STATS_STREAM = 0x010000000100000000000000000000003CFAABE300000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000EAC1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F9600000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000005_71D1E811] ON [dbo].[Accommodation]([Lenght]) WITH STATS_STREAM = 0x010000000100000000000000000000001EBC94A700000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000EBC1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803FC800000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000006_71D1E811] ON [dbo].[Accommodation]([Weight]) WITH STATS_STREAM = 0x010000000100000000000000000000007A8B86E800000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000EAC1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F1E00000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000007_71D1E811] ON [dbo].[Accommodation]([Image]) WITH STATS_STREAM = 0x0100000001000000000000000000000075F75620000000001B02000000000000DB01000000000000E7030000E7000000FFFF00000000000015D000000000000007000000E9C1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000400000803F0000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000210000000000000057000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F040000010019004604FF010000000000000001000000010000002800000028000000000000000000000001000000460402000000400000000001010000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_71D1E811]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000008_71D1E811] ON [dbo].[Accommodation]([Price]) WITH STATS_STREAM = 0x01000000010000000000000000000000812365B100000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000E8C1B500D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803FE803000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Accommodation]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[Accommodation]([PK_Accommodation]) WITH STATS_STREAM = 0x0100000001000000000000000000000022458234000000004000000000000000000000000000000038038F833800000004000A00000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_02084FDA]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_02084FDA] ON [dbo].[CustomItems]([OrderID]) WITH STATS_STREAM = 0x01000000010000000000000000000000D7CB3E8000000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000002B2C6501DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_02084FDA]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000003_02084FDA] ON [dbo].[CustomItems]([ProductID]) WITH STATS_STREAM = 0x010000000100000000000000000000003CF05CC000000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000002A2C6501DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0300000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_02084FDA]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000004_02084FDA] ON [dbo].[CustomItems]([Quantity]) WITH STATS_STREAM = 0x01000000010000000000000000000000E81A2F5B00000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000002A2C6501DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0200000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_CustomItems]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[CustomItems]([PK_CustomItems]) WITH STATS_STREAM = 0x0100000001000000000000000000000022458234000000004000000000000000000000000000000038038F833800000004000A00000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_73BA3083] ON [dbo].[Fittings]([AccommodationID]) WITH STATS_STREAM = 0x01000000010000000000000000000000781173F700000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000005630B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000003_73BA3083] ON [dbo].[Fittings]([ProductID]) WITH STATS_STREAM = 0x01000000010000000000000000000000D6FC893700000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000005530B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0300000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000004_73BA3083] ON [dbo].[Fittings]([Accommodation]) WITH STATS_STREAM = 0x01000000010000000000000000000000D299EBEB00000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000005430B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F6400000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000005_73BA3083] ON [dbo].[Fittings]([Width]) WITH STATS_STREAM = 0x01000000010000000000000000000000A769501D00000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000005330B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F7800000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000006_73BA3083] ON [dbo].[Fittings]([Lenght]) WITH STATS_STREAM = 0x01000000010000000000000000000000A581A4B000000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000005230B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F7800000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000007_73BA3083] ON [dbo].[Fittings]([Turn]) WITH STATS_STREAM = 0x01000000010000000000000000000000B673739F000000002702000000000000E701000000000000E7030000E7000000640000000000000015D0000000000000070000005830B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000270000000000000063000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F04000001001F006C00650066007400FF0100000000000000010000000100000028000000280000000000000000000000040000006C0065006600740002000000400000000001040000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_73BA3083]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000008_73BA3083] ON [dbo].[Fittings]([Quantity]) WITH STATS_STREAM = 0x010000000100000000000000000000005459998300000000DB010000000000009B010000000000003803A0F73800000004000A00000000000000000000000000070000005730B600D2AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803FF401000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Fittings]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[Fittings]([PK_Fittings]) WITH STATS_STREAM = 0x0100000001000000000000000000000022458234000000004000000000000000000000000000000038038F833800000004000A00000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_HardwareWarehouse]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[HardwareWarehouse]([PK_HardwareWarehouse]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_628FA481]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_628FA481] ON [dbo].[Order]([Date]) WITH STATS_STREAM = 0x010000000100000000000000000000000EE521DC00000000DA010000000000009A01000000000000280300002800000003000A000000000000000000007700730700000058396401DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000013000000000040400000803F00000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001E0000000000000026000000000000002E000000000000000800000000000000100013000000803F000000000000803F18450B04000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_628FA481]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000003_628FA481] ON [dbo].[Order]([RunTime]) WITH STATS_STREAM = 0x010000000100000000000000000000006E14BB06000000001F02000000000000DF01000000000000E7030000E7000000640000000000000015D00000000000000700000058396401DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005B0000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001B0036002000FF0100000000000000010000000100000028000000280000000000000000000000020000003600200002000000400000000001020000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_628FA481]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000004_628FA481] ON [dbo].[Order]([UserID]) WITH STATS_STREAM = 0x01000000010000000000000000000000394CE38500000000DB010000000000009B01000000000000380300003800000004000A000000000000000000007700730700000058396401DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_628FA481]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000005_628FA481] ON [dbo].[Order]([Price]) WITH STATS_STREAM = 0x01000000010000000000000000000000DFD90CC200000000DB010000000000009B01000000000000380300003800000004000A000000000000000000007700730700000057396401DEAF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803FDC05000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Order]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[Order]([PK_Order]) WITH STATS_STREAM = 0x0100000001000000000000000000000022458234000000004000000000000000000000000000000038038F833800000004000A00000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_7D439ABD]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_7D439ABD] ON [dbo].[Product]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000A77EBEAB0000000080020000000000004002000000000000E7030000E7000000640000000000000015D0000000000000070000005BFFF400D0AF000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006600000000000000BC00000000000000C400000000000000CC0000000000000010000000000000003D00000000000000300010000000803F000000000000803F04000001002D001F043E043B0438044D04410442043504770077007700300010000000803F000000000000803F040000010029001F043E043B0438044D044104420435044004FF01000000000000000200000002000000280000002800000000000000000000000C0000001F043E043B0438044D0441044204350477007700770040040400000040000000004008000000810308000001010B00000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Product]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[Product]([PK_Product]) WITH STATS_STREAM = 0x010000000100000000000000000000006B9A685100000000DB010000000000009B010000000000003803A0F73800000004000A0000000000000000000000000007000000B081EB00D0AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0300000004000001000000000000000000000000000000,ROWCOUNT = 2,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_ProductFabric]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[ProductFabric]([PK_ProductFabric]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_ProductWarehouse]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[ProductWarehouse]([PK_ProductWarehouse]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_7A672E12]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_7A672E12] ON [dbo].[Role]([Title]) WITH STATS_STREAM = 0x010000000100000000000000000000002D6966F20000000083020000000000004302000000000000E7030000E7000000640000000000000015D00000000000000700000032B22201C8AF000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000090410000004000000000000090410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006200000000000000BF00000000000000C700000000000000CF0000000000000010000000000000003700000000000000300010000000803F000000000000803F04000001002700170430043A0430043704470438043A04300010000000803F000000000000803F04000001002B001C0435043D043504340436043504400420002000FF010000000000000002000000020000002800000028000000000000000000000012000000170430043A0430043704470438043A041C0435043D0435043404360435044004200020000300000040000000008108000000010A0800000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Role]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[Role]([PK_Role]) WITH STATS_STREAM = 0x010000000100000000000000000000003AC60D3700000000DB010000000000009B01000000000000380300003800000004000A0000000000000000002F020000070000009F9E2201C8AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 4,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Textile]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[Textile]([PK_Textile]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_5FB337D6]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_5FB337D6] ON [dbo].[User]([Login]) WITH STATS_STREAM = 0x01000000010000000000000000000000E1F56ADD0000000043020000000000000302000000000000E703A0F7E7000000640000000000000015D000000000000007000000407DA200CDAF000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000004000004040000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000042000000000000007F0000000000000087000000000000008F0000000000000010000000000000002900000000000000300010000000803F000000000000803F0400000100190031003000100000000040000000000000803F040000010019006300FF01000000000000000300000002000000280000002800000000000000000000000200000031006300030000004000000000810100000002010100000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_5FB337D6]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000003_5FB337D6] ON [dbo].[User]([Password]) WITH STATS_STREAM = 0x01000000010000000000000000000000FA057F760000000043020000000000000302000000000000E703A0F7E7000000640000000000000015D0000000000000070000003F7DA200CDAF000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000004000004040000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000042000000000000007F0000000000000087000000000000008F0000000000000010000000000000002900000000000000300010000000803F000000000000803F0400000100190031003000100000000040000000000000803F040000010019006300FF01000000000000000300000002000000280000002800000000000000000000000200000031006300030000004000000000810100000002010100000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_5FB337D6]    Script Date: 24.04.2023 20:23:42 ******/
CREATE STATISTICS [_WA_Sys_00000004_5FB337D6] ON [dbo].[User]([RoleID]) WITH STATS_STREAM = 0x01000000010000000000000000000000DCEFF2F600000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000004E862201C8AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_User]    Script Date: 24.04.2023 20:23:42 ******/
UPDATE STATISTICS [dbo].[User]([PK_User]) WITH STATS_STREAM = 0x010000000100000000000000000000001A0B9B3300000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000004D862201C8AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 5,PAGECOUNT = 1
GO
USE [master]
GO
